.card {
  border: red 2px solid;
  border-radius: 5px;
  width: 100px;
  height: 150px;
  position: relative;
}

.card .rank {
  position: absolute;
  top: 0;
  right: 0;
}

.card .suit {
  position: absolute;
  top: 0;
  left: 0;
}